<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>产品</key>
	<dict>
		<key>class</key>
		<array>
			<string>海洋时光</string>
		</array>
	</dict>
	<key>奥薇</key>
	<dict>
		<key>class</key>
		<array>
			<string>补水</string>
		</array>
	</dict>
</dict>
</plist>
