<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>减肥</key>
	<dict>
		<key>class</key>
		<array>
			<string>减肥塑身</string>
		</array>
	</dict>
	<key>眼部</key>
	<dict>
		<key>class</key>
		<array>
			<string>Fantasy</string>
			<string>保养系列</string>
		</array>
	</dict>
	<key>SPA</key>
	<dict>
		<key>class</key>
		<array>
			<string>全身减压</string>
		</array>
	</dict>
	<key>养生</key>
	<dict>
		<key>class</key>
		<array>
			<string>身体调养</string>
		</array>
	</dict>
	<key>颈部护理</key>
	<dict>
		<key>class</key>
		<array>
			<string>夏日美颈</string>
		</array>
	</dict>
	<key>面部</key>
	<dict>
		<key>class</key>
		<array>
			<string>面部美颜</string>
		</array>
	</dict>
	<key>胸部</key>
	<dict>
		<key>class</key>
		<array>
			<string>减龄</string>
			<string>四维经穴</string>
		</array>
	</dict>
</dict>
</plist>
